.App {
    width: 800px;
    margin: 50px auto;
    border: 2px solid #000;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    display: block;
    height: 40px;
    line-height: 40px;
    border: 1px solid #000;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    font-size: 16px;
}

button {
    display: block;
    padding: 10px 20px;
    border: 1px solid #000;
    background: red;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    opacity: 0.7;
}